
hr{
  display: inline-block;
  width: 75px;
  height: 3px;
  background: #877171;
  margin-left: 25px;
}
h1{
  font-family: 'Bree Serif', serif;
  font-size: 20px;
  color:#877171;
  margin-left: 25px;

}

body{
  margin:0;
  padding: 0;
}
div>h6{
  font-family: 'Bree Serif', serif;
  font-size: 15px;
  display: inline-block;
  top: 200px;
}
.coders{
  margin:0;
  padding: 0;
}
div{
  width: 250px;
  height: 250px;
  float: left;
  margin: 30px 30px;
}
.coder4{
  clear: both;
}
